@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Help us Save the Parents</h1>
    <p class="lead">Save the Parents was made so that no parent ever has to deal with another annoying product ever again.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        
    </div>
</div>