@{
    ViewBag.Title = "Home Page";
}

<div class="row landing-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main-heading-text">Save The Parents!</h1>
                <h3 class="main-subheading-text">No more mistakes.</h3>
            </div>
        </div>
    </div>
</div>

<div class="row about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Simple</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus felis, sollicitudin sed varius vel, accumsan quis lacus. Mauris at magna magna. Sed pretium, ipsum vel sodales dictum, ligula dui aliquet sem, sit amet faucibus neque felis vitae justo. Aenean gravida leo vel mi bibendum ultricies.</p>
            </div>

            <div class="col-md-4">
                <h3>Saves Lives</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus felis, sollicitudin sed varius vel, accumsan quis lacus. Mauris at magna magna. Sed pretium, ipsum vel sodales dictum, ligula dui aliquet sem, sit amet faucibus neque felis vitae justo. Aenean gravida leo vel mi bibendum ultricies.</p>
            </div>

            <div class="col-md-4">
                <h3>Get The Scoop</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus felis, sollicitudin sed varius vel, accumsan quis lacus. Mauris at magna magna. Sed pretium, ipsum vel sodales dictum, ligula dui aliquet sem, sit amet faucibus neque felis vitae justo. Aenean gravida leo vel mi bibendum ultricies.</p>
            </div>
        </div>
    </div>
</div>

<div class="row something">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>We Have All Bought That Toy Before...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus felis, sollicitudin sed varius vel, accumsan quis lacus. Mauris at magna magna. Sed pretium, ipsum vel sodales dictum, ligula dui aliquet sem, sit amet faucibus neque felis vitae justo. Aenean gravida leo vel mi bibendum ultricies.</p>
            </div>
        </div>
    </div>
</div>