@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway:400,700');

body {
    padding-top: 98px;
    font-family: 'Raleway', sans-serif;
    background-color: #F5F9E9;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

h2 {
    color: #19647E;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: #F4FFFD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    padding: 30px;
    background-color: #F4FFFD;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navbar-light .navbar-brand {
    color: #37392E;
}

p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.landing-image {
    background: linear-gradient(rgba(89,104,105,0.6),rgba(84,104,105,0.6)),url(../toys.jpeg);
    -ms-background-size: cover;
    background-size: cover;
    height: 500px;
}

.main-heading-text {
    color: #F5F9E9;
}

.main-subheading-text {
    font-family: 'Nunito', sans-serif;
    color: #F5F9E9;
}

.about {
    background-color: #19647E;
    color: #F5F9E9;
}

.landing-image .container .row {
    padding: 170px 0;
}

.container .row {
    padding: 30px 0;
    padding: 60px 0;

}

.something {
    background-color: #F5F9E9;
}

li h2 {
    float: left;
}

li p {
    float: left;
    margin: 10px;
}

footer {
    color: #F4FFFD;
    background-color: #37392E;
    margin: 0;
}

footer p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 60px;
}

.display-section {
    display: inline;
}

.row.review {
    margin: 30px 0;
    padding: 0;
}

.row.review * {
    float: none;
}