@model IEnumerable<SaveTheParents.Models.Product.ProductListItem>

@{
    ViewBag.Title = "All Products";
}

<br/>

<h2>All Products</h2>

<p>
    @Html.ActionLink("Add Product", "Create")
</p>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @Html.ActionLink(item.ProductName, "Details", new {id = item.ProductId})
            <span class="badge badge-primary badge-pill">
                @Html.DisplayFor(modelItem => item.ReviewCount)
            </span>
        </li>
    }
</ul>



