@model IEnumerable<SaveTheParents.Models.Product.ProductListItem>

@{
    ViewBag.Title = "All Products";
}

<br />

<div class="row">
    <div class="container">
        <div class="row display-section">
            <div class="col-md-12">
                <h1>All Products</h1>

                <p>
                    @Html.ActionLink("Add Product", "Create")
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <row>
            <div class="col-md-12">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="product-list">
                            <h2>
                                @Html.ActionLink(item.ProductName, "Details", new {id = item.ProductId})
                            </h2>
                            @if (item.ReviewCount == 1)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.ReviewCount) Review
                                </p>
                            }
                            else
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.ReviewCount) Reviews
                                </p>
                            }
                            <div class="clearfix"></div>
                        </li>
                    }
                </ul>
            </div>
        </row>
    </div>
</div>